<!--Bootstrap Container-->
<div class="container">
    
    <div class="row">
        
        <!-- Grid column -->
        <div class="col-md-6 mb-3 text-left productImageColumn">
    
            <img src="https://i1.wp.com/images-na.ssl-images-amazon.com/images/I/41NpHOEaC%2BL.jpg?resize=350%2C300&ssl=1" class="img-fluid z-depth-1 productImage" alt="Responsive image">
    
        </div>
        <!-- Grid column -->
        
        <!-- Grid column -->
        <div class="col-md-6 productDetailColumn">
    
            <!--Panel-->
            <div class="card card-body productDetail">
                <h4 class="card-title font-weight-bold">Razer Blade Ultra-Thin Gaming Laptop - 14" Full HD (Core i7-7700HQ, 16GB RAM, 512TB SSD, GeForce GTX 1060) - VR Ready</h4>
                <p class="card-text"> 
                  <ul>
                    <li class="productDetail__detail">INCLUDED Games and Software - Free Intel Game Bundle and FL Studio 12 Producer Edition</li>
                    <li class="productDetail__detail">NVIDIA GeForce GTX 1060 (6GB GDDR5 VRAM) VR Ready graphics</li>
                    <li class="productDetail__detail">7th Gen Quad Core Intel Core i7-7700HQ processor with hyper-threading 2.8GHz/3.8GHz (Base/Turbo)</li>
                    <li class="productDetail__detail">7th Gen Quad Core Intel Core i7-7700HQ processor with hyper-threading 2.8GHz/3.8GHz (Base/Turbo)</li>
                    <li class="productDetail__detail">Ultra-thin (0.70”), light (4 lbs), and durable CNC aluminum chassis</li>
                  </ul>
                <p class="card-text">Quantity: </p>
                <select class="custom-select productDetail__menu">
                  <option selected value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="3">4</option>
                  <option value="3">5</option>
                  <option value="3">6</option>
                  <option value="3">7</option>
                  <option value="3">8</option>
                </select>
                <div class="flex-row productDetail__button">
                    <button type="button" class="btn btn-outline-primary waves-effect">Add to Favorite</button>
                    <button type="button" class="btn btn-warning waves-effect">Add to Cart</button>
                </div>
            </div>
            <!--/.Panel-->
    
        </div>
        <!-- Grid column -->
        
        <!--Bootstrap Column Breakpoint-->
        <div class="w-100"></div>
        
        <div class="productDescriptionColumn">
          
          <!--Bootstrap Navs with Javascript Behavior-->
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
            </div>
          </nav>
          <div class="tab-content productDescriptionColumn__description" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.</div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
          </div>
          
        </div>
        
    </div>
    
</div>