<app-carousel></app-carousel>

<!--Bootstrap Container-->
<div class="container">
    
    <p class="h2-responsive">Popular items with free shipping</p>
    <hr>
    <div class="row">
        <app-home-item 
            class="appFlex"
            *ngFor = "let product of productFirstRow"
            [product] = product>
        </app-home-item>
    </div>
    
    <br>
    
    <p class="h2-responsive">Awesome gift ideas for $10 and less</p>
    <hr>
    <div class="row">
        <app-home-item 
            class="appFlex"
            *ngFor = "let product of productSecondRow"
            [product] = product>
        </app-home-item>
    </div>
    
    <br>
    
    <p class="h2-responsive">Books best sellers</p>
    <hr>
    <div class="row">
        <app-home-item
            class="appFlex" 
            *ngFor = "let product of productThirdRow"
            [product] = product>
        </app-home-item>
    </div>
    
    <br>
    
    <p class="h2-responsive">Low-price fashion with free shipping</p>
    <hr>
    <div class="row">
        <app-home-item 
            class="appFlex"
            *ngFor = "let product of productFourthRow"
            [product] = product>
        </app-home-item>
    </div>
    
</div>